.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.button {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 24px;
  background-color: #210b66;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.count {
  font-size: 48px;
  margin: 20px;
  background-color: #210b66;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  width: 100px;
}
